<%=begin
     ###############################################################################
     #    Copyright (c) 2014, Carl Stahmer - www.carlstahmer.com                   #
     #                                                                             #
     #    This file is part of the Collex Edition Builder, a platform              #
     #    publishing digital editions with a complete, FRBRized system of          #
     #    metadata management and linked-data functionality.                       #
     #                                                                             #
     #    The Collex Edition Builder is free software: you can redistribute it     #
     #    and/or modify it under the terms of the GNU General Public License       #
     #    as published by the Free Software Foundation, either version 3 of        #
     #    the License, or (at your option) any later version.                      #
     #                                                                             #
     #    The Collex Edition Builder is distributed in the hope that it will       #
     #    be useful, but WITHOUT ANY WARRANTY; without even the implied warranty   #
     #    of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the         #
     #    GNU General Public License for more details.                             #
     #                                                                             #
     #    You should have received a copy of the GNU General Public License        #
     #    along with The Collex Edition Builder distribution.  If not,             #
     #    see <http://www.gnu.org/licenses/>.                                      #
     #                                                                             #
     #    Development of this software was made possible through funding from      #
     #    the National Endowment for the Humanities as well as the Institute       #
     #    for Digital Humanities, Media, and Culture at Texas A&M University.      #
     ###############################################################################
   end%>
<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<h3>Primary Tables Management</h3>
<p><%= link_to "Works", works_path %></p>
<p><%= link_to "Expression Types", expression_types_path %></p>
<p><%= link_to "Expressions", expressions_path %></p>
<p><%= link_to "Manifestation Types", manifestation_types_path %></p>
<p><%= link_to "Manifestations", manifestations_path %></p>
<p><%= link_to "Manifestation Events", manifestation_events_path %></p>
<p><%= link_to "Items", items_path %></p>
<p><%= link_to "Item Events", item_events_path %></p>
<p><%= link_to "Agents", agents_path %></p>
<p><%= link_to "Roles", roles_path %></p>
<p><%= link_to "Locations", locations_path %></p>
<p><%= link_to "Event Types", event_types_path %></p>
<p><%= link_to "Holding Institutions", holding_institutions_path %></p>
<p><%= link_to "Digital Editions", digital_editions_path %></p>
<p><%= link_to "Pages", pages_path %></p>

<h3>Concordance Management</h3>
<p><%= link_to "Concordance Stop Words", concordance_stop_words_path %></p>
<p><%= link_to "Concordance Entries", concordance_entries_path %></p>


<h3>System Tables Management</h3>
<p><%= link_to "Configuration Settings", confs_path %></p>
<p><%= link_to "Local Markup Mapping", local_markup_mappings_path %></p>
<p><%= link_to "User", user_roles_path %></p>
<p><%= link_to "System Event Types", system_event_types_path %></p>



