<%=begin
     ###############################################################################
     #    Copyright (c) 2014, Carl Stahmer - www.carlstahmer.com                   #
     #                                                                             #
     #    This file is part of the Collex Edition Builder, a platform              #
     #    publishing digital editions with a complete, FRBRized system of          #
     #    metadata management and linked-data functionality.                       #
     #                                                                             #
     #    The Collex Edition Builder is free software: you can redistribute it     #
     #    and/or modify it under the terms of the GNU General Public License       #
     #    as published by the Free Software Foundation, either version 3 of        #
     #    the License, or (at your option) any later version.                      #
     #                                                                             #
     #    The Collex Edition Builder is distributed in the hope that it will       #
     #    be useful, but WITHOUT ANY WARRANTY; without even the implied warranty   #
     #    of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the         #
     #    GNU General Public License for more details.                             #
     #                                                                             #
     #    You should have received a copy of the GNU General Public License        #
     #    along with The Collex Edition Builder distribution.  If not,             #
     #    see <http://www.gnu.org/licenses/>.                                      #
     #                                                                             #
     #    Development of this software was made possible through funding from      #
     #    the National Endowment for the Humanities as well as the Institute       #
     #    for Digital Humanities, Media, and Culture at Texas A&M University.      #
     ###############################################################################
   end%>
<h1>Listing confs</h1>

<table>
  <tr>
    <th>Config active</th>
    <th>Conf group expression type</th>
    <th>Conf group manifestation type</th>
    <th>Conf build concordance</th>
    <th>Conf build variants</th>
    <th>Conf contact email</th>
    <th>Conf contact form</th>
    <th>Conf site name</th>
    <th>Conf site tagline</th>
    <th>Conf site domain name</th>
    <th>Conf site httpd root</th>
    <th>Conf site transcription root</th>
    <th>Conf site facsimile root</th>
    <th>Conf site publisher</th>
    <th>Conf site publisher URL</th>
    <th>Conf site publisher location</th>
    <th>Conf site license</th>
    <th>Confe site editor name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @confs.each do |conf| %>
  <tr>
    <td><%= conf.config_active %></td>
    <td><%= conf.conf_group_expression_type %></td>
    <td><%= conf.conf_group_manifestation_type %></td>
    <td><%= conf.conf_build_concordance %></td>
    <td><%= conf.conf_build_variants %></td>
    <td><%= conf.conf_contact_email %></td>
    <td><%= conf.conf_contact_form %></td>
    <td><%= conf.conf_site_name %></td>
    <td><%= conf.conf_site_tagline %></td>
    <td><%= conf.conf_site_domain_name %></td>
    <td><%= conf.conf_site_httpd_root %></td>
    <td><%= conf.conf_site_transcription_root %></td>
    <td><%= conf.conf_site_facsimile_root %></td>
    <td><%= conf.conf_site_xslt_directory %></td>
    <td><%= conf.conf_publisher %></td>
    <td><%= conf.conf_publisher_url %></td>
    <td><%= conf.conf_publisher_location %></td>
    <td><%= conf.conf_publisher_license %></td>
    <td><%= conf.conf_site_editor_name %></td>
    <td><%= link_to 'Show', conf %></td>
    <td><%= link_to 'Edit', edit_conf_path(conf) %></td>
    <td><%= link_to 'Destroy', conf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conf', new_conf_path %>
