<%=begin
     ###############################################################################
     #    Copyright (c) 2014, Carl Stahmer - www.carlstahmer.com                   #
     #                                                                             #
     #    This file is part of the Collex Edition Builder, a platform              #
     #    publishing digital editions with a complete, FRBRized system of          #
     #    metadata management and linked-data functionality.                       #
     #                                                                             #
     #    The Collex Edition Builder is free software: you can redistribute it     #
     #    and/or modify it under the terms of the GNU General Public License       #
     #    as published by the Free Software Foundation, either version 3 of        #
     #    the License, or (at your option) any later version.                      #
     #                                                                             #
     #    The Collex Edition Builder is distributed in the hope that it will       #
     #    be useful, but WITHOUT ANY WARRANTY; without even the implied warranty   #
     #    of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the         #
     #    GNU General Public License for more details.                             #
     #                                                                             #
     #    You should have received a copy of the GNU General Public License        #
     #    along with The Collex Edition Builder distribution.  If not,             #
     #    see <http://www.gnu.org/licenses/>.                                      #
     #                                                                             #
     #    Development of this software was made possible through funding from      #
     #    the National Endowment for the Humanities as well as the Institute       #
     #    for Digital Humanities, Media, and Culture at Texas A&M University.      #
     ###############################################################################
   end%>
<p id="notice"><%= notice %></p>

<p>
  <b>Manifestation:</b>
  <%= @manifestation_event.manifestation.manifestation_name %>
</p>

<p>
  <b>Event type:</b>
  <%= @manifestation_event.event_type.event_type_type %>
</p>

<p>
  <b>Agent:</b>
  <%= @manifestation_event.agent.agent_name_prefix %> <%= @manifestation_event.agent.agent_first_name %> <%= @manifestation_event.agent.agent_middle_name %> <%= @manifestation_event.agent.agent_last_name %> <%= @manifestation_event.agent.agent_name_suffix %>
</p>

<p>
  <b>Role:</b>
  <%= @manifestation_event.role.role_role %>
</p>

<p>
  <b>Location:</b>
  <%= @manifestation_event.location.location_name %>
</p>

<p>
  <b>Manifestation event start date:</b>
  <%= @manifestation_event.manifestation_event_start_date %>
</p>

<p>
  <b>Manifestation event end date:</b>
  <%= @manifestation_event.manifestation_event_end_date %>
</p>

<p>
  <b>Manifestation event notes:</b>
  <%= @manifestation_event.manifestation_event_notes %>
</p>


<%= link_to 'Edit', edit_manifestation_event_path(@manifestation_event) %> |
<%= link_to 'Back', manifestation_events_path %>
