<%=begin
     ###############################################################################
     #    Copyright (c) 2014, Carl Stahmer - www.carlstahmer.com                   #
     #                                                                             #
     #    This file is part of the Collex Edition Builder, a platform              #
     #    publishing digital editions with a complete, FRBRized system of          #
     #    metadata management and linked-data functionality.                       #
     #                                                                             #
     #    The Collex Edition Builder is free software: you can redistribute it     #
     #    and/or modify it under the terms of the GNU General Public License       #
     #    as published by the Free Software Foundation, either version 3 of        #
     #    the License, or (at your option) any later version.                      #
     #                                                                             #
     #    The Collex Edition Builder is distributed in the hope that it will       #
     #    be useful, but WITHOUT ANY WARRANTY; without even the implied warranty   #
     #    of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the         #
     #    GNU General Public License for more details.                             #
     #                                                                             #
     #    You should have received a copy of the GNU General Public License        #
     #    along with The Collex Edition Builder distribution.  If not,             #
     #    see <http://www.gnu.org/licenses/>.                                      #
     #                                                                             #
     #    Development of this software was made possible through funding from      #
     #    the National Endowment for the Humanities as well as the Institute       #
     #    for Digital Humanities, Media, and Culture at Texas A&M University.      #
     ###############################################################################
   end%>
<%= custom_form_for(@item_event) do |f| %>
  <% if @item_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_event.errors.count, "error") %> prohibited this item_event from being saved:</h2>

      <ul>
      <% @item_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.collection_select(:item_id, Item.all, :id, :item_siglum) %>
  </div>  
  <div class="field">
   <%= f.label :event_type_id %><br />
    <%= f.collection_select(:event_type_id, EventType.all, :id, :event_type_type) %>
  </div> 
  <div class="field">
    <%= f.label :agent_id %><br />
    <%= f.collection_select(:agent_id, Agent.all, :id, :agent_first_name) %>
  </div> 
  <div class="field">
    <%= f.label :role_id %><br />
    <%= f.collection_select(:role_id, Role.all, :id, :role_role) %>
  </div> 
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.collection_select(:location_id, Location.all, :id, :location_name) %>
  </div>
  <div class="field">
    <%= f.label :item_event_start_date %><br />
    <%= f.event_date_select :item_event_start_date %>
  </div>
  <div class="field">
    <%= f.label :item_event_end_date %><br />
    <%= f.event_date_select :item_event_end_date %>
  </div>
  <div class="hidden">
  	<input type="hidden" name="event_date_select_fields" value="item_event_start_date,item_event_end_date">
  </div>
  <div class="field">
    <%= f.label :item_event_notes %><br />
    <%= f.text_area :item_event_notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
