<%=begin
     ###############################################################################
     #    Copyright (c) 2014, Carl Stahmer - www.carlstahmer.com                   #
     #                                                                             #
     #    This file is part of the Collex Edition Builder, a platform              #
     #    publishing digital editions with a complete, FRBRized system of          #
     #    metadata management and linked-data functionality.                       #
     #                                                                             #
     #    The Collex Edition Builder is free software: you can redistribute it     #
     #    and/or modify it under the terms of the GNU General Public License       #
     #    as published by the Free Software Foundation, either version 3 of        #
     #    the License, or (at your option) any later version.                      #
     #                                                                             #
     #    The Collex Edition Builder is distributed in the hope that it will       #
     #    be useful, but WITHOUT ANY WARRANTY; without even the implied warranty   #
     #    of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the         #
     #    GNU General Public License for more details.                             #
     #                                                                             #
     #    You should have received a copy of the GNU General Public License        #
     #    along with The Collex Edition Builder distribution.  If not,             #
     #    see <http://www.gnu.org/licenses/>.                                      #
     #                                                                             #
     #    Development of this software was made possible through funding from      #
     #    the National Endowment for the Humanities as well as the Institute       #
     #    for Digital Humanities, Media, and Culture at Texas A&M University.      #
     ###############################################################################
   end%>
<% content_for :head_breadcrumb do %>
  <li><a href="/admin">Admin Interface</a></li>
  <li><a href="#">Digital Edition</a></li>
<% end %>

<% if @notice && @notice.length > 0 %>
    <p id="notice"><%= @notice %></p>
<% end %>

<h1>Editing Digital Edition: <%= request.host %>/ds/<%= @digital_edition.id %></h1>

<%= render 'form' %>


<div class="generic_chunk">
	  <div class="generic_chunk">
	  	<hr class="section_separator" />
	  </div>
</div>

<div class="row">
	<div class="col gu2_half_left_equal">
		<div class="generic_chunk">
				<div class="cats_nav_block">
					<div class="nav_cat_header">Exemplar Of</div>
				</div>
		</div>
			
		<div class="generic_chunk">
			<table class="exemplar_table"><tr class="exemplar_table_tr"><td class="exemplar_table_left"></td><td class="exemplar_table_right"><div class="exemplar_top"><span class="exemplar_type">Manifestation: </span><a href="/manifestations/<%= @manifestation.id %>/edit">(<%= @manifestation.manifestation_siglum %>) <%= @manifestation.manifestation_name %></a></div></td></tr></table>
		</div>
		<div class="generic_chunk">
			<table class="exemplar_table"><tr class="exemplar_table_tr"><td class="exemplar_table_left"><%= image_tag "exemplar_arrow.jpg" %></td><td class="exemplar_table_right"><span class="exemplar_type">Expression: </span><a href="/expressions/<%= @expression.id %>/edit">(<%= @expression.expression_siglum %>) <%= @expression.expression_name %></a></td></tr></table>
		</div>
		<div class="exemplar_chunk">
			<table class="exemplar_table"><tr class="exemplar_table_tr"><td class="exemplar_table_left"><%= image_tag "exemplar_arrow.jpg" %></td><td class="exemplar_table_right"><span class="exemplar_type">Work: </span><a href="/works/<%= @work.id %>/edit">(<%= @work.work_siglum %>) <%= @work.work_name %></a></td></tr></table>
		</div>
		
	</div>
	<div class="col gu2_half_right_equal">
		<div class="generic_chunk">
				<div class="cats_nav_block">
					<div class="nav_cat_header">Contains</div>
					<ul class="contains_list_ul">
					<div class="pagination">
						<%= paginate @contains %>
					</div>
					<% @contains.each do |ce| %>
						<li class="contains_list_li"><a href="/expressions/<%= ce.expression_id %>/edit">(<%= ce.expression.expression_siglum.gsub(/E:/, '') %>) <%= ce.expression.expression_name %></a></li>
					<% end %>
					<div class="pagination">
						<%= paginate @contains %>
					</div>
					</ul>
				</div>
		</div>
	</div>
</div>

<table class="form_column_table_three">
  <tr class="form_column_table_tr">
    <td colspan="2">
      &nbsp;
    </td>
  </tr>
  <tr class="form_column_table_tr">
    <td class="content_align_right" colspan="2">
      <span class="blue_link_no_underline"><a id="delete_obj_link" this_obj_type="digital_editions" this_obj_id="<%= @digital_edition.id %>" this_obj_h="150" this_obj_w="400" this_obj_message="Are you sure you want to delete this edition and all its associated content?  This action cannot be undone and will take a some time to process!" href="#bottom">[Delete Edition]</a></span>
      <a name="bottom"><br/></a>

    </td>
  </tr>
</table>

<% content_for :foot_logout do %>
	<div class="content_right_align">
	    <%= link_to "Logout", '/sessions/destroy' %>
	</div>
<% end %>
